body {
  background-color: #34323230;
  font-family: "Poppins", sans-serif;
  display: block;
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  padding-left: 28px;
  padding-right: 28px;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 2%;
}

h1 {
  font-size: 29px;
}

.image {
  width: 300px;
  height: 400px;
  /* margin-bottom: 15px; */
  max-width: 100%;
  clip-path: circle();
}

.data {
  font-size: 18px;
  font-family: sans-serif;
  /* margin-bottom: 30px; */
  text-align: center;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: #1098ad;
  font-weight: bold;
}

a:active {
  font-style: italic;
}

a {
  cursor: pointer;
}

.frontend {
  margin-bottom: 30px;
}
@media (max-width: 580px) {
  .container {
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
